#time {
  align-self: center;
  font-size: 120px;
  margin: 10px 5px 20px 5px;
}

#time-dayperiod {
  color: #888;
  font-variant: small-caps;
  font-size: 72px;

  &.am {
    vertical-align: top;
  }
}
