#time {
  align-self: center;
  font-size: 152px;
  margin: 10px 5px 20px 5px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  height: 99%;
  justify-content: space-evenly;
}

#time-current {
  flex: 1 0;
}

#time-dayperiod {
  color: #888;
  font-variant: small-caps;
  font-size: 72px;
  flex: 0 1;

  &.am {
    vertical-align: top;
  }

}

#time-cal {
  color: #aaa;
  font-size: 64px;
  display: flex;
  justify-content: space-evenly;
}
