#time {
  align-self: center;
  font-size: 152px;
  margin: 10px 5px 20px 5px;
  white-space: nowrap;
  display: flex;
}

#time-current {
  flex: 1 0;
}

#time-dayperiod {
  color: #888;
  font-variant: small-caps;
  font-size: 72px;
  flex: 0 1;
  position: relative;

  &.am {
    vertical-align: top;
  }

  &.pm {
    top: 82px;
  }
}

#time-cal {
  position: absolute;
  bottom: 0;
  color: #888;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  width: 33%;
}
